---
import { gsap } from "gsap";
---

<div
  id="language"
  class="about_card h-[420px] sm:h-[550px] w-full lg:w-[48%] xl:w-[30%] p-5 md:p-10 border-2 border-neutral-800 text-neutral-50 relative overflow-hidden"
>
  <h3
    class="w-[90%] about_semititle text-4xl sm:text-6xl text-neutral-300 uppercase font-bold absolute bottom-5 duration-1000"
  >
    Language
  </h3>
  <div class="z-20 absolute w-[80%] text-[0.6rem] sm:text-[0.8rem] font-black">
    <div class="mb-5">
      <div class="w-full h-5 md:h-8 border-2 border-neutral-50">
        <div class="level w-[100%] bg-neutral-50 h-full"></div>
      </div>
      <h4 class="uppercase font-medium tracking-widest mt-2">Ukrainian</h4>
    </div>
    <div class="my-5">
      <div class="w-full h-5 md:h-8 border-2 border-neutral-50">
        <div class="level w-[100%] bg-neutral-50 h-full"></div>
      </div>
      <h4 class="uppercase font-medium tracking-widest mt-2">Russian</h4>
    </div>
    <div class="my-5">
      <div class="w-full h-5 md:h-8 border-2 border-neutral-50">
        <div class="level w-[80%] bg-neutral-50 h-full"></div>
      </div>
      <h4 class="uppercase font-medium tracking-widest mt-2">English</h4>
    </div>
    <div class="my-5">
      <div class="w-full h-5 md:h-8 border-2 border-neutral-50">
        <div class="level w-[30%] bg-neutral-50 h-full"></div>
      </div>
      <h4 class="uppercase font-medium tracking-widest mt-2">German</h4>
    </div>
    <div class="my-5">
      <div class="w-full h-5 md:h-8 border-2 border-neutral-50">
        <div class="level w-[10%] bg-neutral-50 h-full"></div>
      </div>
      <h4 class="uppercase font-medium tracking-widest mt-2">Spanish</h4>
    </div>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import SplitType from "split-type";

  document.addEventListener("DOMContentLoaded", () => {
    const languageSection = document.querySelector("#language");

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            // Запуск анимации, когда секция появляется в зоне видимости

            gsap.from(".level", {
              duration: 1.2,
              stagger: 0.2,
              delay: 0.3,
              width: "0",
            });

            // Отключаем наблюдатель после срабатывания анимации
            observer.unobserve(languageSection);
          }
        });
      },
      {
        threshold: 0.1, // Процент видимости элемента для срабатывания
      }
    );

    observer.observe(languageSection);
  });
</script>

<style>
  .about_card:hover .about_semititle {
    transform: scale(1.8) translateY(-0.1rem) translateX(-25%) rotate(90deg);
    color: rgba(80, 80, 80, 0.2);
  }
</style>
